/* Global variables */
:root {
  /* Colours */
  --body-grey: #8d8d8d;
  --background-grey: #333333;
  --header-white: #c9c9c9;
  --header-background: #242424;

  /* Spacing size */
  --hamburger-menu-spacing: 3px;

  /* Animation timing */
  --hamburger-menu-anim-duration: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000000;
  background: var(--background-grey);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: DejaVu Serif, sans-serif, Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

header {
  color: var(--header-white);
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: var(--header-background);
  max-height: 20vh;
}

#header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

h1,
#hamburger-menu {
  transform: translateY(-1.5vh);
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  right: 0%;
  top: 10%;
  height: 90%;
  width: 100%;
  z-index: 2;
  background-color: var(--header-background);
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.nav-links-active {
  transform: translateX(0%);
}

main {
  z-index: 1;
  background: var(--body-grey);
  margin-top: -3vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h2 {
  text-align: center;
  padding: 1rem 0rem;
}

.nav-link {
  color: var(--header-white);
  flex: 1;
  text-decoration: none;
  font-weight: bold;
}

#hamburger-menu {
  position: relative;
  border: 3px solid var(--header-white);
  border-radius: 20%;
  padding: var(--hamburger-menu-spacing);
  margin: -1 * var(--hamburger-menu-spacing);
  z-index: 3;
  scale: 0.8;
}

#hamburger-menu div {
  height: 4px;
  width: 25px;
  margin: 4px;
  background-color: var(--header-white);
}

.hamburger-menu-active .line1 {
  transform: rotate(45deg) translate(6px, 5px);
  transition: transform var(--hamburger-menu-anim-duration) ease;
}

@keyframes fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.hamburger-menu-active .line2 {
  animation: fadeout var(--hamburger-menu-anim-duration) ease forwards;
}

.hamburger-menu-active .line3 {
  transform: rotate(-45deg) translate(6px, -5px);
  transition: transform var(--hamburger-menu-anim-duration) ease;
}

#hamburger-menu:hover {
  cursor: pointer;
}

#education {
  text-align: center;
  margin: 1rem 0rem 1.5rem;
}

#education h2 {
  padding-bottom: 0;
}

#skills {
  padding: 0rem 2rem 0.5rem;
}

#projects h2 {
  padding-bottom: 0rem;
}

.project-link {
  text-decoration: none;
}

.project {
  margin: 1rem;
  padding: 1rem 0rem;
  /* border-style: solid; */
  /* border-radius: 2rem; */
}

.project img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  width: 90%;
}

.project-text {
  padding: 0rem 1rem;
  text-align: left;
}

.project-text h3 {
  text-align: center;
}

footer {
  color: var(--header-white);
  background: var(--header-background);
  list-style: none;
  padding-top: 5vh;
  padding-bottom: 2vh;
  margin-top: -3vh;
}

footer ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  text-align: center;
  font-weight: bold;
}

main {
  background: var(--body-grey);
}

/* Responsive website css */

/* Default is portrait phone */

/* Landscape phone */
@media screen and (min-width: 576px) {
}

/* Tablets */
@media screen and (min-width: 768px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .project {
    padding: 1rem;
    display: flex;
  }

  .project img {
    width: 95%;
  }

  .project-text {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

/* Desktop screens */
@media screen and (min-width: 992px) {
  main,
  footer {
    width: 75%;
    margin: auto;
    margin-top: -3vh;
    min-width: 992px;
  }

  #header-container {
    align-items: center;
  }

  footer {
    width: 100%;
    color: var(--header-white);
    background: var(--header-background);
  }

  main {
    background: var(--body-grey);
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  #hamburger-menu {
    display: none;
  }

  .nav-links {
    all: initial;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 35vw;
    transform: translate(0, -1.5vh);
  }

  .project {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
  }
}

/* Larger desktop screens */
@media screen and (min-width: 1200px) {
  main,
  footer {
    width: 75%;
    margin: auto;
    margin-top: -3vh;
  }

  #header-container {
    width: 75%;
    margin: auto;
    justify-content: space-between;
  }

  footer {
    width: 100%;
    color: var(--header-white);
    background: var(--header-background);
  }

  main {
    background: var(--body-grey);
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  #hamburger-menu {
    display: none;
  }

  .project {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
  }
}
